@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url(../fonts/Orbitron.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: sans-serif;
  min-width: 1020px;
}

p {
  padding: 0px;
  margin: 10px 0px;
}

#header {
  margin: 10px;
}

#header-logo,
#header-text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#header-logo {
  width: 220px;
}

#header-text {
  width: 700px;
  font-family: Orbitron;
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 5px;
}

.node {
  display: inline-block;
  width: 1180px;
  height: 100px;
  margin: 10px;
  background-color: #eaeaff;
  border: solid 2px #d4d4d4;
  border-radius: 2px;
}

.node-offline {
  opacity: 0.5;
}

.node-total {
}

.node .node-info,
.node .node-cpu,
.node .node-mem,
.node .node-net,
.node .node-pro,
.node .node-spd,
.node .node-eff,
.node .node-pow,
.node .node-sco,
.node .node-gap,
.node .node-details {
  display: inline-block;
  position: relative;
  height: 90px;
}

.node .node-info {
  width: 110px;
}

.node .node-title {
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: Orbitron;
  font-size: 20px;
}

.node .node-state {
  position: absolute;
  top: 50px;
  left: 20px;
  font-family: Orbitron;
  font-size: 14px;
  color: gray;
}

.node .node-cpu,
.node .node-mem,
.node .node-net {
  width: 200px;
}

.node .node-gap {
  width: 230px;
  margin-right: -20px;
}

.node .node-spd,
.node .node-eff,
.node .node-pow {
  width: 140px;
  margin-right: -20px;
}



.node .node-details {
  top: 10px;
  width: 100px;
  overflow: hidden;
  text-align: right;
  white-space: nowrap;
  font-size: 12px;
  color: gray;
}

.node .node-chart-title {
  position: absolute;
  top: 5px;
  left: 60px;
  right: 0px;
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.node .node-x-axis {
  position: absolute;
  left: 50px;
  right: 0px;
  bottom: -10px;
  height: 20px;
}

.node .node-y-axis {
  position: absolute;
  top: 25px;
  bottom: 0px;
  width: 50px;
}

.node .node-time-chart {
  position: absolute;
  top: 25px;
  left: 50px;
  right: 0px;
  bottom: 10px;
}

.node .node-net .node-chart-title > span {
  font-weight: bold;
}

/* ------------------------------------------------------- Data Distribution */

#dataviz {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  bottom: 5px;
  z-index: -1;
}
