@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url(../fonts/Orbitron.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: sans-serif;
  margin: 10px;
  padding: 0px;
}

.box {
  padding: 6px;

  vertical-align: top;

  background-color: #eaeaff;
  border: solid 2px #d4d4d4;
  border-radius: 2px;
}

.standby {
  opacity: 0.2;
}

.offline {
  opacity: 0.2;
  text-decoration: line-through;
}

#main {
  border-spacing: 10px;
}

#summary-speed,
#summary-efficiency,
#summary-power,
#summary-score {
  display: inline-block;
  width: 140px;
}

#summary-speed,
#summary-score {
  margin-left: 50px;
}

#summary-details {
  display: inline-block;
  top: 10px;
  width: 130px;
  overflow: hidden;
  text-align: right;
  white-space: nowrap;
  font-size: 12px;
  color: gray;
}

#legend {
  width: 140px;
}

#legend > div {
  font-family: Orbitron;
  font-size: 18px;
  margin: 8px 0;
  cursor: pointer;
}

#legend .node-id {
  display: inline-block;
  text-align: right;
  text-decoration: inherit;
  width: 30px;
}

#legend .node-color {
  display: inline-block;
  width: 12px;
  height: 12px;

  margin-left: 18px;

  border: solid thin gray;
  border-radius: 2px;
}

#speed,
#efficiency,
#power,
#data {
  position: relative;
  width: 415px;
  height: 220px;
}

.chart {
  position: absolute;
  top: 25px;
  left: 40px;
  right: 20px;
  bottom: 10px;
}

.chart-title {
  position: absolute;
  top: 5px;
  left: 40px;
  right: 20px;
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.x-axis {
  position: absolute;
  left: 40px;
  right: 20px;
  bottom: 0px;
  height: 20px;
}

.y-axis {
  position: absolute;
  top: 25px;
  bottom: 0px;
  width: 34px;
}

/* ------------------------------------------------------- Data Distribution */

#dataviz-controls {
  position: absolute;
  z-index: 1;
}

#dataviz {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  height: 236px;
}
